# deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: node-deployment
spec:
  selector:
    matchLabels:
      app: node-app
  replicas: 1
  template:
    metadata:
      labels:
        app: node-app
    spec:
      containers:
      - name: node
        image: class-btech:dev
        imagePullPolicy: Never # Tells K8s to use the locally built image
        ports:
        - containerPort: 3000 # Matches the EXPOSE 3000 in your Dockerfile
